<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width", initial-scale=1.0>
	<meta http-equiv="X-UA-Compatible" content= "ie=edge">
	<title>Bike stand map for {{name}}</title>
	<style>
		#map{
			height: 400px;
			width: 100%;
		}
	</style>
</head>


</head>
<body>
	<h1>Bike station Map {{name}}</h1>
	<div id="map">

	</div>
	<div id='tab'>
		<h1>{{datas}}</h1>
	</div>
	<script>
		
		function initMap()
		{
			var options = {
				zoom : 12,
				center : {lat : 45.759060, lng : 4.847331}
			}
			var map = new google.maps.Map(document.getElementById('map'),options)

			for(var i = 0;i<data.length;i++)
			{
				var coords = {lat:data[i][5],lng:data[i][6]}
				addMarker(coords)
			}
			function addMarker(coords){
				var marker = new google.maps.Marker(
				{
					position: coords,
					map:map
				})

			}

		}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtrsu4daYlkPAkbrFFcoYb9tPO9hcjOvc&callback=initMap&libraries=&v=weekly"
          type="text/javascript"></script>
</head> 

</body>
</html>