<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width", initial-scale=1.0>
	<meta http-equiv="X-UA-Compatible" content= "ie=edge">
	<title>Bike stand map for {{name}}</title>
	<style>
		#map{
			height: 400px;
			width: 100%;
		}
	</style>
</head>


</head>
<body>
	<h1>Bike station Map {{name}}</h1>
	<div id="map">

	</div>
	
	<script>
		var pos = [['Rennes', 'Musée Beaux-Arts', '7', '8', '15', 48.109601, -1.67408], ['Rennes', 'Champs Libres', '10', '14', '24', 48.105537, -1.674328], ['Rennes', 'Brest - Verdun', '16', '8', '24', 48.113009, -1.693264], ['Rennes', 'Marbeuf', '8', '12', '20', 48.111749, -1.702077], ['Rennes', 'Plaine de Baud', '13', '11', '24', 48.112460999999996, -1.643674], ['Rennes', 'Gros-Chêne', '8', '9', '17', 48.126795, -1.665101], ['Rennes', 'Painlevé', '20', '9', '29', 48.123506000000006, -1.659762], ['Rennes', 'Joliot-Curie - Chateaubriand', '7', '23', '30', 48.124389, -1.651203], ['Rennes', 'La Poterie', '0', '1', '1', 48.087282, -1.644121], ['Rennes', 'Pont de Strasbourg', '9', '11', '20', 48.109859, -1.656028]]
		function initMap()
		{
			var options = {
				zoom : 12,
				center : {lat : 48.1173, lng : -1.6778}
			}
			var map = new google.maps.Map(document.getElementById('map'),options)

			for(var i = 0;i<pos.length;i++)
			{
				var coords = {lat:pos[i][5],lng:pos[i][6]}
				addMarker(coords)
			}
			function addMarker(coords){
				var marker = new google.maps.Marker(
				{
					position: coords,
					map:map
				})

			
                var infoWindow = new google.maps.InfoWindow({
                    content: "<h1> name : "+ pos[i][1]+" , availables_bikes : "+ pos[i][2]+", availables_stands : "+ pos[i][3]+ "</h1>"
                    })
                    marker.addListener('click',function(){
                        infoWindow.open(map,marker)
                    });


		}}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtrsu4daYlkPAkbrFFcoYb9tPO9hcjOvc&callback=initMap&libraries=&v=weekly"
          type="text/javascript"></script>
</head> 

</body>
</html>